.filmCard {
  display: table;
  height: 4rem;
  margin: 0rem;
  margin-bottom: 2rem;
  flex: auto;
  border-radius: 10px;
  box-shadow: -6px -6px 10px 0 #fff, 5px 5px 9px 0 rgb(0 0 0 / 20%);
}
.filmTitle {
  padding-left: 1rem;
  display: table-cell;
  vertical-align: middle;
}

.filmStars {
  align-items: right;
  text-align: right;
  padding-right: 1rem;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.6rem;
}
