.filmCard {
  height: 3rem;
  margin: 0rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: -6px -6px 10px 0 #fff, 5px 5px 9px 0 rgb(0 0 0 / 20%);
}
.filmTitle {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
