.container {
  width: 50%;
  margin: auto;
  justify-content: center;
}

@media (max-width: 700px) {
  .container {
    width: 80%;
    font-size: 13px;
  }
}

.heading {
  display: block;
  margin: auto;
  width: 60%;
  margin-bottom: 1rem;
  object-position: -20% -20% -20%;
}
