.searchBar {
  position: relative;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  height: 3rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #fdfdfd;
  box-shadow: inset -14px -14px 16px -17px #fff,
    inset 7px 7px 15px -13px rgb(0 0 0 / 80%);
}
